<%= render "layouts/errors", :object => @post %>

<%= form_for @post, :html => { :class => "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :body, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_area :body, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit :class => "btn btn-success" %>
      <%= link_to "Cancel", :back, :class => "btn btn-warning" %>
    </div>
  </div>
<% end %>
